<div id="board_<%= @board.id %>" class="board_div">
  <% @board.fields.each do |field|%>
  <div id="field_<%= field.id %>" class="field ui-widget-content" style=" top:<%= field.position_y %>px; left:<%= field.position_x %>px; width:<%= field.width %>px; height:<%= field. height %>px;" data-neighbours="<%= @board.get_neighbours(field.id).to_json%>">

    <% field.notes.each do |note|%>
    <div id="note_<%= note.id %>" class="note ui-widget-content" style="position:absolute; top:<%= note.position_y %>px; left:<%= note.position_x %>px; background-image:url('<%= note.color %>')"; data-board_id="board_<%= @board.id %>">
      <div  class="avatar_holder" style="position:absolute; top:-40px; left:-35px" >
      <% note.placed_avatars.each do |placed_avatar| %>
        <img <% if placed_avatar.user.id == current_user().id %> <%= "name='my_avatar'" %> <% end %> src="/images/avatar/<%= placed_avatar.user.avatar %>" width="50%">
      <% end %>
      </div>
      <div id="note_header_<%= note.id %>" class="note_header"><%= note.header.html_safe %></div>       
    </div>


    <% end %> 
  </div>
  <% end %>
  


</div>




























