<!DOCTYPE html>
<html>
<head>
  <title>Application8up</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>  
  <div id="toolbox_container">
    <div ID="toolbox_area_1">
      <button><p class="toolbox_button_delete">Delete</p></button>
      <button><p class="toolbox_button_invite">Invite</p></button>

      <div ID="toolbox_text_container">
        <div ID="toolbox_text_1">
          <h3>Name</h3>
        </div>
        <div Id="toolbox_text_2">
          info
        </div>
      </div>
      
    </div>
    <div ID="toolbox_area_2">
    </div>
    
  </div>

<div id="content">
	<%= yield %>  
</div>
<div id="menu_bar">
	<ul>
    <li><a href="#"><button><p class="menu_list">Meny</p></button></a></li>
    <li><a href="#"><button><p class="menu_list">Exit</p></button></a></li>
    <li><a href="#"><button><p class="menu_list">Logg Out</p></button></a></li> 
	</ul>
</div>
<div id="create_new_board_button">
  <li><a href="#"><p class="menu_list"><%= link_to 'New Board', new_board_path %></p></a></li>
</div>
			<div id="in_focus_image" class="window">
			<img src="/images/nalle.jpg" alt="Nalle" />
			</div>
			
		<div id="black_background" class="background"</div>

</body>
</html>
