<!DOCTYPE html>
<html>
<head>
	<title>Application8up</title>
	<%= stylesheet_link_tag :all %>
	<%= render 'layouts/javascripts'%>
	<%= csrf_meta_tag %>
	<link rel="shortcut icon" href="images/g8a.png" type="image/x-icon" />
</head>
<body>  
	<%= render 'layouts/toolbox'  %>
	<div id="content">    
		<%= yield %>  
	</div>
	<div id="menu_bar">
		<ul>
			<li><a href="/boards/" style="background: transparent; font-family:arial; font-size:17px;">Menu</a></li>
			<li><a href="/settings" style="background: transparent; font-family:arial; font-size:17px;">Settings</a></li>
			<li><a href="/users/sign_out" style="background: transparent; font-family:arial; font-size:17px;">Log Out</a></li> 

		</ul>
	</div>
	<div id="create_new_board_button" <%= show_addbutton %>>  
		<a href="/boards/new" style="background: transparent"><img src="/images/add_button.png" id="add_button_background" width="150%" height="110%"></a>
	</div>

	<div id="window_wrapper">
		<div id="invite_window" class="invite_win">
			<input type="text" id="invite_input" width = "100%"></input>
			<a href="#"><p class="invite_submit" align = "right">Invite</p></a>
			<a href="#"><p class="cancel" align = "right">Cancel</p></a>

		</div>

		<div id="in_focus_image" class="window" unselectable="on">
			<div id="note_editor_panel_wrapper"><div id="note_editor_panel"></div></div>
			<div id="note_body"></div>
		</div>

	</div>
	<div id="black_background" class="background"></div>

<!--<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>-->


</body>
</html>
