<!DOCTYPE html>
<html>
  <head>
    <title>Application8up</title>
    <%= stylesheet_link_tag :all %>
    <%= render 'layouts/javascripts'%>
    <%= csrf_meta_tag %>
	<link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
  </head>
  <body>  
    <div id="toolbox_container"  <%= show_toolbox %>>    
      <div ID="toolbox_area_1">

	<a href="#"><p class="toolbox_button_delete">Delete</p></a>
	<a href="#"><p class="toolbox_button_invite">Invite</p></a>
	<!--  <button><p id = "toolbox_button_users">Users</p></button>-->

	<div ID="toolbox_text_container">
	  <div ID="toolbox_text_1">
	    <h3 id=toolbox_header_name>Name</h3>
	  </div>
	  <div Id="toolbox_text_2">
	    <div id=toolbox_info_name></div>
	    <div id=toolbox_info_created></div>
	    <div id=toolbox_info_updated></div>
	    <div id=toolbox_info_owner></div>
	  </div>
	  <div id="user_list_container">
	    Online users:
	    <div id="online_user_list"></div>
	  </div>

	</div>
	<div id="context_area">
	  
	</div>

	<div id="online_user_list"></div>
	<div>
          <p>Avatar</p>
          <div id="avatar">
	    <img src="/images/avatar/<%= current_user().avatar %>" />
	  </div> 
	</div>

	<table id = "split_button_table">
	  <tr>
	    <th colspan="3">SPLIT</th>
	  </tr>
	  <tr>
	    <td>
	      <img src="/images/button_h.png" id = "split_vert" class="split_button"/>
	    </td>
	    <td>
	      <img src="/images/button_v.png" id = "split_horiz" class="split_button"/>
	    </td>
	  </tr>
	</table>


      </div>
      
      <div ID="toolbox_area_2">
	<img src="/images/panel_button_right.png" id="panel_arrow" />
      </div>


    </div>

	<div id="content">    
		<%= yield %>  
    </div>
    <div id="menu_bar">
      <ul>
	<li><a href="/boards/">Menu</a></li>
	<li><a href="/settings">Settings</a></li>
	<li><a href="/users/sign_out">Log Out</a></li> 

      </ul>
    </div>
    <div id="create_new_board_button" <%= show_addbutton %>>  
      <a href="/boards/new">
	<img src="/images/add_button.png" id="add_button_background" >
      </a>
    </div>

    <div id="window_wrapper">
      <div id="invite_window" class="invite_win">
	<input type="text" id="invite_input" width = "100%"></input>
	<a href="#"><p class="invite_submit" align = "right">Invite</p></a>
	<a href="#"><p class="cancel" align = "right">Cancel</p></a>

      </div>

      <div id="in_focus_image" class="window" unselectable="on">
	<div id="note_editor_panel_wrapper">
	  <div id="note_editor_panel"></div>
	</div>
	<div id="note_body"></div>
      </div>

    </div>
    <div id="black_background" class="background"></div>

    <!--<p class="notice"><%= notice %></p>
	   <p class="alert"><%= alert %></p>-->


  </body>
</html>
