<!DOCTYPE html>
<html>
  <head>
    <title>Application8up</title>
    <%= stylesheet_link_tag :all %>
    <%= render 'layouts/javascripts'%>
    <%= csrf_meta_tag %>
	<link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
  </head>
  <body>  
    <%= render 'layouts/toolbox' %>
    
    <div id="content">    
      <%= yield %>  
    </div>
    <div id="menu_bar">
      <ul>
	<li><a href="/boards/">Menu</a></li>
	<li><%= link_to "Account", users_edit_path %></li>
	<li><a href="/users/sign_out">Log Out</a></li> 

      </ul>
    </div>

    <div id="window_wrapper">
      <div id="invite_window" class="invite_win">
	<input type="text" id="invite_input" width = "100%"></input>
	<a href="#"><p class="invite_submit" align = "right">Invite</p></a>
	<a href="#"><p class="cancel" align = "right">Cancel</p></a>

      </div>

      <div id="in_focus_image" class="window" unselectable="on">
	<div id="note_editor_panel_wrapper">
	  <div id="note_editor_panel"></div>
	</div>
	<div id="note_body"></div>
      </div>

    </div>
    <div id="black_background" class="background"></div>

    <!--<p class="notice"><%= notice %></p>
	   <p class="alert"><%= alert %></p>-->


  </body>
</html>
